body {
  background: #f3f3f3;
}

.dancing-icon {
  position: relative;
  width: 105px;
  height: 105px;
  margin: 250px auto;
}

.heart {
  position: absolute;
  top: 20px;
  left: 0;
  animation: hearts 2s ease-in-out normal infinite;
  z-index: -1;
}

.heart:nth-child(1) {
  left: 12px;
  animation-delay: 1.25s;
}
.heart:nth-child(2) {
  left: 32px;
  animation-delay: 0.75s;
}
.heart:nth-child(3) {
  left: 52px;
  animation-delay: 1.75s;
}

@keyframes hearts {
  0% {
    transform: rotate(20deg);
    opacity: 0;
  }
  50% {
    transform: rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg);
    opacity: 0;
    top: -150px;
  }
}

.bot-icon {
  position: absolute;
  top: 5px;
  left: -15px;
  height: 125px;
  width: 125px;
  background-size: 125px 125px;
  background-image: url("face.png");
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  animation: bot-icon 1.2s ease infinite;
  z-index: 5;
}

/* .bot-icon-shadow {
  width: 180px;
  height: 5px;
  background: rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 133px;
} */

@keyframes bot-icon {
  0% {
    transform: rotate(-15deg);
    top: 0;
  }
  10% {
    transform: rotate(0deg);
    top: -25px;
  }
  50% {
    transform: rotate(15deg);
    top: 0;
  }
  60% {
    transform: rotate(0deg);
    top: -25px;
  }
  100% {
    transform: rotate(-15deg);
    top: 0;
  }
}
